[{:db/id -1, :lex.curriculumAttestation/lexicon 1, :lex.curriculumAttestation/id "com.etzhayyim.manabi.curriculumAttestation", :lex.curriculumAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"moduleId\" \"contentCid\" \"reviewerAttestations\" \"charterRiderScan\"], :properties {:moduleId {:type \"string\", :description \"e.g. 'literacy-phonemic-awareness' or 'numeracy-fractions'\"}, :contentCid {:type \"string\", :description \"IPFS CIDv1 for the module content (Apache 2.0 + Charter Rider)\"}, :reviewerAttestations {:type \"array\", :items {:type \"string\"}, :description \"Council Lv6+ ≥3 DID attestations (multi-gen + anti-individualism + Wellbecoming + non-eschatology)\"}, :charterRiderScan {:type \"object\", :properties {:passed {:type \"boolean\"}, :note {:type \"string\"}}}, :multilingualStatus {:type \"array\", :items {:type \"string\"}, :description \"['EN' 'JA' ...] language codes per G5\"}}}}}"}]