[{:db/id -1, :engineAttestation/lexicon 1, :engineAttestation/id "com.etzhayyim.futawa.engineAttestation", :engineAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"engineAttestationId\" \"displacementCc\" \"powerKw\"], :properties {:torqueNm {:type \"number\", :description \"rated torque (Nm)\"}, :engineAttestationId {:type \"string\"}, :powerKw {:type \"number\", :description \"rated power; must be ≤15kW (G11)\"}, :valvetrainSpec {:type \"string\"}, :displacementCc {:type \"integer\", :description \"engine displacement; must be ≤250cc (G11)\"}, :g11CapVerified {:type \"boolean\", :description \"displacement + power within G11 caps\"}, :timestamp {:type \"string\", :description \"ISO-8601 timestamp\"}, :pistonRodCrankLot {:type \"string\"}, :engineBlockLot {:type \"string\"}}}}}"}]