[{:db/id -1, :frameAttestation/lexicon 1, :frameAttestation/id "com.etzhayyim.futawa.frameAttestation", :frameAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"frameAttestationId\" \"materialLot\" \"weldQuality\"], :properties {:frameAttestationId {:type \"string\"}, :materialLot {:type \"string\", :description \"steel/aluminum lot ID + cert\"}, :weldQuality {:type \"string\", :description \"TIG/MIG vision-guided weld signature\"}, :roundnessUm {:type \"integer\", :description \"roundness tolerance micrometers (witness robot)\"}, :massKg {:type \"number\", :description \"frame dry mass\"}, :draftFrameCid {:type \"string\", :description \"IPFS CAD CID\"}, :timestamp {:type \"string\", :description \"ISO-8601 timestamp\"}}}}}"}]