[{:db/id -1, :lex.factory/lexicon 1, :lex.factory/id "com.etzhayyim.tsukuru.factory", :lex.factory/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"factoryDid\" \"displayName\" \"country\"], :properties {:factoryDid {:type \"string\", :description \"did:web path-based factory DID (performerType=service)\"}, :displayName {:type \"string\"}, :country {:type \"string\", :description \"ISO 3166-1 alpha-2\"}, :isic {:type \"string\", :description \"ISIC rev.4 section/class (e.g. C26 semiconductor)\"}, :capabilities {:type \"array\", :items {:type \"string\"}}, :fulfillmentModes {:type \"array\", :items {:type \"string\"}, :description \"bto|mto|cto\"}, :laborProvenance {:type \"string\", :description \"labor-dignity disclosure (G8)\"}}}}}"}]