[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.yamabiko.acousticEmissionsAuditRecord", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"iso3095Wayside\" \"iec62236Emc\" \"kyoukuseiFuinsho\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :iso3095Wayside {:type \"string\", :description \"ISO 3095 wayside noise measurement results (dB(A), 25 m line) from dynamic test\"}, :iec62236Emc {:type \"string\", :description \"IEC 62236 electromagnetic compatibility test report\"}, :kyoukuseiFuinsho {:type \"string\", :description \"騒音規制法 (Noise Regulation Act) compliance certification\"}}}}}"}]