[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.yamabiko.finalAssemblyAttestation", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"carbodyBogieIntegration\" \"electricalContinuity\" \"systemCrossChecks\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :carbodyBogieIntegration {:type \"string\", :description \"Carbody-bogie marriage torque spec and witness log\"}, :electricalContinuity {:type \"string\", :description \"End-to-end electrical continuity and voltage drop test results\"}, :systemCrossChecks {:type \"string\", :description \"HVAC, PIS, braking system communication checks\"}}}}}"}]