[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.yamabiko.tractionElectricalAttestation", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"pantographDesign\" \"hvHarness\" \"atpAtoFirmwareSha\" \"firmwareOpenSource\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :pantographDesign {:type \"string\", :description \"Pantograph design and material spec (25 kV AC contact wire)\"}, :hvHarness {:type \"string\", :description \"HV harness routing (25 kV AC / 1500 V DC) and insulation test results\"}, :atpAtoFirmwareSha {:type \"string\", :description \"ATP/ATO firmware Git SHA or content hash\"}, :firmwareOpenSource {:type \"string\", :description \"Apache 2.0 + Charter Rider license attestation (G1)\"}}}}}"}]