[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.yamabiko.trainsetManufactureRecord", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"trainsetDid\" \"carCount\" \"maxSpeed\" \"homologationStatus\" \"attestations\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :trainsetDid {:type \"string\", :description \"Trainset-level DID anchor (kotoba-datomic reference)\"}, :carCount {:type \"string\", :description \"Number of cars (8-16 per Wave 1)\"}, :maxSpeed {:type \"string\", :description \"Max certified speed (≤320 km/h per G12)\"}, :homologationStatus {:type \"string\", :description \"Homologation passed/failed + date\"}, :attestations {:type \"string\", :description \"Comma-separated list of all attestation record CIDs (carbody, bogie, interior, traction, final, test, acoustic, homologation, review)\"}}}}}"}]