[{:db/id -1, :lex.budgetAllocation/lexicon 1, :lex.budgetAllocation/id "com.etzhayyim.businessManager.budgetAllocation", :lex.budgetAllocation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"budgetId\" \"account\" \"fiscalYear\" \"allocatedMinor\"], :properties {:budgetId {:type \"string\"}, :account {:type \"string\", :description \"chart-of-accounts code\"}, :fiscalYear {:type \"string\", :description \"JP FY label, e.g. FY2026\"}, :allocatedMinor {:type \"integer\", :description \"budgeted amount (JPY minor)\"}, :postedBy {:type \"string\", :description \"member DID (G4)\"}}}}}"}]
