[{:db/id -1, :kotoba.app/name "tsumugi", :kotoba.app/version "0.1.0", :kotoba.app/components "[{:name \"tsumugi\", :src \"methods/mesh.clj\", :scale 1, :triggers [{:type :kse, :topic \"etzhayyim/actor/tsumugi\"}], :requires #{:cap/kqe}} {:name \"tsumugi-social\", :src \"methods/social.cljc\", :scale 1, :triggers [{:type :tick, :cron \"0 */6 * * *\"} {:type :kse, :topic \"etzhayyim/actor/tsumugi/publish\"}], :requires #{:cap/atproto :cap/kqe}}]", :kotoba.app/placement "{:spread :zone, :require {:tier \"edge\"}}"}]
