[{:db/id -1, :lex.serviceRequest/lexicon 1, :lex.serviceRequest/id "com.etzhayyim.infrautilityconnect.serviceRequest", :lex.serviceRequest/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"serviceRequestId\" \"providerType\" \"siteCoordinates\" \"mepSignoff\" \"state\"], :properties {:serviceRequestId {:type \"string\", :description \"unique ID for this service request (water/gas/electric/telecom)\"}, :providerType {:type \"string\", :description \"water|gas|electric|telecom\"}, :siteCoordinates {:type \"string\", :description \"latitude,longitude (geocoded from site)\"}, :mepSignoff {:type \"string\", :description \"tatekata mepSignoffRecord ref (construction ready)\"}, :state {:type \"string\", :description \"pending|submitted|confirmed\"}, :timestamp {:type \"string\", :description \"ISO-8601 request creation time\"}, :providerApiUrl {:type \"string\", :description \"open-source utility company RPC endpoint\"}}}}}"}]
