[{:db/id -1, :lex.apiSynthesisAttestation/lexicon 1, :lex.apiSynthesisAttestation/id "com.etzhayyim.yakushi.apiSynthesisAttestation", :lex.apiSynthesisAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"apiName\" \"route\" \"witness1\" \"witness2\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :apiName {:type \"string\", :description \"API (active pharmaceutical ingredient) name\"}, :route {:type \"string\", :description \"Synthesis route (published literature reference)\"}, :witness1 {:type \"string\", :description \"First witness DID (operator or sensor)\"}, :witness2 {:type \"string\", :description \"Second witness DID (QP or independent sensor)\"}, :sig1 {:type \"string\", :description \"Witness 1 signature\"}, :sig2 {:type \"string\", :description \"Witness 2 signature\"}}}}}"}]
