[{:db/id -1, :lex.lotAttestation/lexicon 1, :lex.lotAttestation/id "com.etzhayyim.yakushi.lotAttestation", :lex.lotAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"lotId\" \"lotDid\" \"apiName\" \"manufacturingDate\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :lotId {:type \"string\", :description \"Manufacturing lot ID\"}, :lotDid {:type \"string\", :description \"Lot-specific DID\"}, :apiName {:type \"string\", :description \"Active pharmaceutical ingredient name\"}, :manufacturingDate {:type \"string\", :description \"Manufacturing date\"}, :expirationDate {:type \"string\", :description \"Expiration/shelf-life date\"}, :storageCondition {:type \"string\", :description \"Storage condition (e.g., 2-8°C)\"}, :unitCount {:type \"string\", :description \"Total units in lot\"}}}}}"}]
