[{:db/id -1, :lex.qcAttestation/lexicon 1, :lex.qcAttestation/id "com.etzhayyim.yakushi.qcAttestation", :lex.qcAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"lotId\" \"testResults\" \"qpDid\" \"verdict\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :lotId {:type \"string\", :description \"Lot ID\"}, :testResults {:type \"string\", :description \"QC test results (ICH Q3 compliance)\"}, :qpDid {:type \"string\", :description \"Qualified Person DID\"}, :verdict {:type \"string\", :description \"Release verdict (release or reject)\"}, :qpSignature {:type \"string\", :description \"QP signature (passkey or hardware token)\"}, :releaseDate {:type \"string\", :description \"Release date (if verdict=release)\"}}}}}"}]
