[{:db/id -1, :lex.settlementIntent/lexicon 1, :lex.settlementIntent/id "com.etzhayyim.yakushi.settlementIntent", :lex.settlementIntent/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"grossMinor\" \"titheMinor\" \"state\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :grossMinor {:type \"integer\", :description \"Gross amount in USDC minor units\"}, :titheMinor {:type \"integer\", :description \"10% tithe amount in USDC minor units\"}, :makerPayoutMinor {:type \"integer\", :description \"Maker payout (gross - tithe) in minor units\"}, :state {:type \"string\", :description \"Settlement state (intent or executed)\"}, :buyerSigRef {:type \"string\", :description \"Buyer signature reference (if executed)\"}}}}}"}]
