[{:db/id -1, :lex.silenPharmaReview/lexicon 1, :lex.silenPharmaReview/id "com.etzhayyim.yakushi.silenPharmaReview", :lex.silenPharmaReview/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"verdict\" \"reviewScope\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :verdict {:type \"string\", :description \"Review verdict (approve or reject)\"}, :reviewScope {:type \"string\", :description \"Scope of review (Wave 1, Wave 1b, Wave 1c, etc.)\"}, :reviewDate {:type \"string\", :description \"Review completion date\"}, :councilMsig {:type \"string\", :description \"Council 5-of-7 Safe multisig transaction hash\"}}}}}"}]
