[{:db/id -1, :lex.collection/lexicon 1, :lex.collection/id "com.etzhayyim.organizer.collection", :lex.collection/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"collectionId\" \"vaultDid\" \"name\"], :properties {:collectionId {:type \"string\"}, :vaultDid {:type \"string\", :description \"owner vault (G3)\"}, :name {:type \"string\"}, :description {:type \"string\"}, :autoRules {:type \"array\", :description \"organize rules: condition (category|label) → this collection\", :items {:type \"object\", :required [\"condition\"], :properties {:id {:type \"string\"}, :condition {:type \"object\"}, :priority {:type \"integer\"}}}}}}}}"}]