[{:db/id -1, :lex.fabricAttestation/lexicon 1, :lex.fabricAttestation/id "com.etzhayyim.makura.fabricAttestation", :lex.fabricAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"materialDisclosure\" \"charterScan\" \"dyeSafety\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :materialDisclosure {:type \"string\", :description \"Material disclosure details\"}, :charterScan {:type \"string\", :description \"Charter scan results\"}, :dyeSafety {:type \"string\", :description \"Dye safety attestation\"}}}}}"}]