[{:db/id -1, :lex.foamBatchAttestation/lexicon 1, :lex.foamBatchAttestation/id "com.etzhayyim.makura.foamBatchAttestation", :lex.foamBatchAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"chemistry\" \"density\" \"cellStructure\" \"vocTest\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :chemistry {:type \"string\", :description \"L2 chemistry details\"}, :density {:type \"string\", :description \"Density measurement\"}, :cellStructure {:type \"string\", :description \"Cell structure details\"}, :vocTest {:type \"string\", :description \"VOC test results\"}}}}}"}]