[{:db/id -1, :lex.packagingRecord/lexicon 1, :lex.packagingRecord/id "com.etzhayyim.makura.packagingRecord", :lex.packagingRecord/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"vacuumCompression\" \"carton\" \"pallet\" \"takeBackQr\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :vacuumCompression {:type \"string\", :description \"Vacuum compression details\"}, :carton {:type \"string\", :description \"Carton details\"}, :pallet {:type \"string\", :description \"Pallet details\"}, :takeBackQr {:type \"string\", :description \"Take-back QR information\"}}}}}"}]