[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.wadachi.missionCompleteRecord", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"deliveryRouteRef\" \"completionTimestamp\" \"ipfsCid\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :deliveryRouteRef {:type \"string\", :description \"Reference to original deliveryRoute\"}, :completionTimestamp {:type \"string\", :description \"ISO-8601 mission completion time\"}, :ipfsCid {:type \"string\", :description \"IPFS CID of pinned telemetry package (G2)\"}, :gpsTrack {:type \"string\", :description \"Executed GPS track (lat,lon array)\"}, :energyConsumedKwh {:type \"number\", :description \"Energy consumed (≤5 kWh budget, G12)\"}, :safetySummary {:type \"string\", :description \"Summary of safety checks (pass/anomaly/halt)\"}, :operatorDid {:type \"string\", :description \"Operator DID who approved mission (G10)\"}}}}}"}]