[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.wadachi.safetyAlert", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"missionRef\" \"alertType\" \"reason\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :missionRef {:type \"string\", :description \"Reference to mission that triggered alert\"}, :alertType {:type \"string\", :description \"Type: speed_violation | tilt_anomaly | wheel_slip | energy_budget\"}, :reason {:type \"string\", :description \"Description of safety violation (G11/G12)\"}, :timestamp {:type \"string\", :description \"ISO-8601 alert timestamp\"}, :haltRequired {:type \"boolean\", :description \"Boolean: should mission halt immediately\"}}}}}"}]