{:lexicon 1
 :id "com.etzhayyim.watatsumi.sectionJoiningAttestation"
 :defs
 {:main
  {:type "record"
   :key "tid"
   :record
   {:type "object"
    :required ["tid" "weldPasses" "rtPass" "pwhtTemp"]
    :properties
    {:tid {:type "string" :description "Transaction ID"}
     :weldPasses {:type "string" :description "Multi-pass TIG weld count"}
     :rtPass {:type "string" :description "100% RT on final ring weld"}
     :pwhtTemp {:type "string" :description "Post-Weld Heat Treatment temperature (°C)"}}}}}}
