{:lexicon 1
 :id "com.etzhayyim.watatsumi.silenSubmersibleReview"
 :defs
 {:main
  {:type "record"
   :key "tid"
   :record
   {:type "object"
    :required ["tid" "councilApproval" "craftClass"]
    :properties
    {:tid {:type "string" :description "Transaction ID"}
     :councilApproval {:type "string" :description "Council 5-of-7 Safe attestation for new craft class"}
     :craftClass {:type "string" :description "Submersible design class (research/infrastructure/aquaculture)"}}}}}}
