[{:db/id -1
  :data-wipe-attestation/lexicon 1
  :data-wipe-attestation/id "com.etzhayyim.hodoki.dataWipeAttestation"
  :data-wipe-attestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"tid\" \"vin\" \"ecuWipeStatus\" \"infotainmentWipeStatus\" \"telematicsWipeStatus\" \"cryptographicDestructionStatus\" \"attestationTimestamp\"], :properties {:tid {:type \"string\", :description \"Transaction ID\"}, :vin {:type \"string\", :description \"Vehicle Identification Number\"}, :ecuWipeStatus {:type \"boolean\", :description \"ECU data wiped (G8)\"}, :infotainmentWipeStatus {:type \"boolean\", :description \"Infotainment data wiped (G8)\"}, :telematicsWipeStatus {:type \"boolean\", :description \"Telematics data wiped (G8)\"}, :cryptographicDestructionStatus {:type \"boolean\", :description \"Cryptographic destruction attested (G8)\"}, :physicalChipShredFallback {:type \"boolean\", :description \"Physical chip shred fallback used (G8)\"}, :attestationTimestamp {:type \"string\", :description \"ISO-8601 wipe attestation time\"}}}}}"}]
