[{:db/id -1, :lex.generationRecord/lexicon 1, :lex.generationRecord/id "com.etzhayyim.hikari.generationRecord", :lex.generationRecord/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"recordId\" \"period\" \"kwh\"], :properties {:recordId {:type \"string\", :description \"unique record ID per period\"}, :period {:type \"string\", :description \"ISO-8601 period (start..end)\"}, :pvKwh {:type \"number\", :description \"solar PV generation (kWh)\"}, :geoKwh {:type \"number\", :description \"geothermal generation (kWh)\"}, :batteryDischargKwh {:type \"number\", :description \"battery discharge (kWh)\"}, :kwh {:type \"number\", :description \"total generation + discharge (kWh)\"}, :inverterSignature {:type \"string\", :description \"optional per-inverter Ed25519 (15-min granular)\"}, :timestamp {:type \"string\", :description \"ISO-8601 record timestamp\"}}}}}"}]