[{:db/id -1, :lex.installAttestation/lexicon 1, :lex.installAttestation/id "com.etzhayyim.hikari.installAttestation", :lex.installAttestation/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"installId\" \"vendor\" \"sourcing\"], :properties {:vendor {:type \"string\", :description \"equipment supplier DID\"}, :sourcingAuditCid {:type \"string\", :description \"IPFS CID of sourcing report\"}, :equipmentType {:type \"string\", :description \"solar-pv | battery-lifepo4 | geothermal-loop\"}, :parcelDid {:type \"string\", :description \"destination LANDS parcel\"}, :installId {:type \"string\", :description \"Equipment batch/lot ID\"}, :installedKwCapacity {:type \"number\", :description \"nameplate capacity (kW)\"}, :sourcing {:type \"string\", :description \"Charter Rider §2(g) audit result: compliant|pending|failed\"}, :quantity {:type \"number\", :description \"unit count\"}, :timestamp {:type \"string\", :description \"ISO-8601\"}}}}}"}]