{:paths ["../kotodama/src"]
 :tasks
 {test {:doc "Run ibuki .cljc tests"
        :requires ([clojure.test :as t])
        :task (do
                (doseq [f ["methods/_edn.cljc"
                           "methods/_t.cljc"
                           "methods/datoms.cljc"
                           "methods/joucho.cljc"
                           "methods/heartbeat.cljc"
                           "methods/perception.cljc"
                           "methods/infer.cljc"
                           "methods/health.cljc"
                           "methods/ecosystem.cljc"
                           "methods/metabolism.cljc"
                           "methods/drainer.cljc"
                           "methods/symbiosis.cljc"
                           "methods/quorum.cljc"
                           "methods/digest.cljc"
                           "methods/member_submit.cljc"
                           "methods/receipts.cljc"
                           "methods/delegation.cljc"
                           "methods/kotoba_bridge.cljc"
                           "methods/kaizen_feedback.cljc"
                           "methods/kaizen_outcomes.cljc"
                           "methods/wellbecoming.cljc"
                           "methods/coscientist.cljc"
                           "methods/react_loop.cljc"
                           "methods/autorun.cljc"
                           "methods/fleet.cljc"
                           "methods/test_react_loop.cljc"
                           "methods/test_health.cljc"
                           "methods/test_perception.cljc"
                           "methods/test_kaizen_outcomes.cljc"
                           "methods/test_coscientist.cljc"
                           "methods/test_joucho.cljc"
                           "methods/test_heartbeat.cljc"
                           "methods/test_delegation.cljc"
                           "methods/test_drainer.cljc"
                           "methods/test_fleet.cljc"
                           "methods/test_integration.cljc"
                           "methods/test_wellbecoming.cljc"
                           "methods/test_ecosystem.cljc"
                           "methods/test_sick_colony.cljc"
                           "methods/test_digest.cljc"
                           "methods/test_datoms.cljc"
                           "methods/test_metabolism.cljc"
                           "methods/test_kotoba_bridge.cljc"
                           "methods/test_quorum.cljc"
                           "methods/test_infer.cljc"
                           "methods/test_member_submit.cljc"
                           "methods/test_symbiosis.cljc"
                           "methods/test_kaizen_feedback.cljc"
                           "methods/test_autorun.cljc"
                           "methods/test_charter_invariants.cljc"]]
                  (load-file f))
                (let [result (apply t/run-tests
                                    '[ibuki.methods.test-react-loop
                                      ibuki.methods.test-health
                                      ibuki.methods.test-perception
                                      ibuki.methods.test-kaizen-outcomes
                                      ibuki.methods.test-coscientist
                                      ibuki.methods.test-joucho
                                      ibuki.methods.test-heartbeat
                                      ibuki.methods.test-delegation
                                      ibuki.methods.test-drainer
                                      ibuki.methods.test-fleet
                                      ibuki.methods.test-integration
                                      ibuki.methods.test-wellbecoming
                                      ibuki.methods.test-ecosystem
                                      ibuki.methods.test-sick-colony
                                      ibuki.methods.test-digest
                                      ibuki.methods.test-datoms
                                      ibuki.methods.test-metabolism
                                      ibuki.methods.test-kotoba-bridge
                                      ibuki.methods.test-quorum
                                      ibuki.methods.test-infer
                                      ibuki.methods.test-member-submit
                                      ibuki.methods.test-symbiosis
                                      ibuki.methods.test-kaizen-feedback
                                      ibuki.methods.test-autorun
                                      ibuki.methods.test-charter-invariants])]
                  (when (pos? (+ (:fail result) (:error result)))
                    (System/exit 1))))}}}
