{:dna/actor-did "did:web:etzhayyim.com:actor:tsumugi" :dna/capability "datom:transact" :dna/graph "tsumugi" :dna/graph-cid "bafyreifona2gawvujtaz2ccf3wm5bxt2xi55biurtrjwcxemscrdpq2gyu" :dna/lexicon-cid "bafkreia2hakerjfm45crva3bjspuvlepw346endcfjmvbedwc6honbdnlu" :dna/spec "kotoba-actor-dna/v0" :dna/validation-cid "bafkreigl5bnfmdss2y5fduqwkaw3uydukthaynwmvhe6hcfngcvlp4buai" :dna/wasm-cid "bafkreidfttpqimwnx4i5a3rswum3orcg3qfa3q7fwts6axgqtcpuokddfi"}
