[{:db/id -1, :lex.weldInspectionRecord/lexicon 1, :lex.weldInspectionRecord/id "com.etzhayyim.funadaiku.weldInspectionRecord", :lex.weldInspectionRecord/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"weldId\" \"inspectionMethod\" \"result\"], :properties {:weldId {:type \"string\", :description \"seam identifier\"}, :grandBlockId {:type \"string\", :description \"parent grand-block\"}, :inspectionMethod {:type \"string\", :description \"RT (radiography) | UT (ultrasonic) | PT (penetrant)\"}, :inspectorDid {:type \"string\", :description \"qualified NDT inspector signature\"}, :robotWitness {:type \"string\", :description \"Tsutsuki crawler DID (G3)\"}, :result {:type \"string\", :description \"PASS | REWORK | FAIL\"}, :defectDescription {:type \"string\", :description \"porosity / crack / lack-of-fusion details (if any)\"}, :timestamp {:type \"string\", :description \"ISO-8601 inspection time\"}}}}}"}]