[{:db/id -1, :cell/id "fleet_registry", :cell/glyph "祓戸", :cell/kind :datalog, :cell/runtime :kotoba, :cell/doc "Per-jurisdiction fleet: vehicles (capacity/depot/status) + crew (role/shift/cert/labor-level)", :cell/queries "[#:q{:name \"available-vehicles\", :datalog \"[:find ?id ?kind ?cap :in $ ?j :where [?v :vehicle/jurisdiction ?j] [?v :vehicle/status :available] [?v :vehicle/id ?id] [?v :vehicle/kind ?kind] [?v :vehicle/capacity-kg ?cap]]\"} #:q{:name \"crew-by-shift\", :datalog \"[:find ?id ?role :in $ ?j ?shift :where [?c :crew/jurisdiction ?j] [?c :crew/shift ?shift] [?c :crew/role ?role] [?c :crew/id ?id]]\"} #:q{:name \"crew-by-cert\", :datalog \"[:find ?id ?role :in $ ?j ?cert :where [?c :crew/jurisdiction ?j] [?c :crew/certifications ?cert] [?c :crew/role ?role] [?c :crew/id ?id]]\"}]"}]
