[{:db/id -1, :ontology/id "amime", :ontology/version "0.1.0", :ontology/adr ["2606212020" "2606211200" "2606091800" "2606172100" "2605262130"], :ontology/node-kinds "[{:kind :site, :doc \"An energy site (generator / load / storage hub) in the mesh. net = gen − load.\", :keys [:id :name :role :gen :load]} {:kind :link, :doc \"An undirected inter-site link. :capacity bounds SENT kW; :loss ∈ 0..1 lost in transit.\", :keys [:id :from :to :capacity :loss]}]", :ontology/enums "{:role #{:load :solar :microgrid :wind :storage :industrial :geothermal :datacenter :hydro}, :verdict-of-link #{:nominal :critical}}", :ontology/unrepresentable [":amime/price" ":amime/trade" ":amime/dispatch" ":amime.site/person"]}]
