[{:db/id -1, :lex/lexicon 1, :lex/id "com.etzhayyim.tsutae.deviceAttestation", :lex/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"serial\" \"did\" \"accept\"], :properties {:serial {:type \"string\", :description \"open device serial\"}, :did {:type \"string\", :description \"did:web:etzhayyim.com:tsutae:device:<serial> (G14)\"}, :bomLineage {:type \"array\", :items {:type \"string\"}, :description \"full BoM lineage CIDs (pcb/chassis/display/fw/qc)\"}, :attestingRobots {:type \"array\", :items {:type \"string\"}, :description \"≥2 distinct robot signer DIDs Ed25519 (G4)\"}, :repairEventReady {:type \"boolean\", :description \"per-device DID accepts repairEvent over lifecycle (G14)\"}, :accept {:type \"boolean\"}, :timestamp {:type \"string\", :format \"datetime\"}}}}}"}]
