[{:db/id -1, :lex.application/lexicon 1, :lex.application/id "com.etzhayyim.haraedo.application", :lex.application/defs "{:main {:type \"record\", :key \"tid\", :record {:type \"object\", :required [\"applicationId\" \"memberDid\" \"jurisdiction\" \"items\" \"consentSig\"], :properties {:fee {:type \"integer\", :description \"minor units; settled non-fiat (G7)\"}, :memberDid {:type \"string\", :description \"DID-bound; address/PII held encrypted (com.etzhayyim.encrypted.*)\"}, :consentSig {:type \"string\", :description \"DID-signed consent proof (G1)\"}, :jurisdiction {:type \"string\"}, :stickerId {:type \"string\"}, :state {:type \"string\", :description \"quoted|scheduled|stickered|assigned|collected|delivered|closed\"}, :applicationId {:type \"string\"}, :scheduledDate {:type \"string\", :format \"datetime\"}, :items {:type \"array\", :items {:type \"string\"}, :description \"item-category codes\"}, :collectionPoint {:type \"string\"}}}}}"}]
